.formulario-de-compra label{
    margin: 0;
    color: var(--corPreto);
}

.descricao-produto-selecionado a{
    color: var(--corSecundaria);
}

.formulario-de-compra{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulario-de-compra .input-container{
    display: inline-block;
    margin-right: 0.2rem;
}

.formulario-de-compra .borda-externa-input {
    border: 1px solid var(--corCinzaEscuro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.formulario-de-compra .input-descricao-produto-page{
    appearance: none;
    border: 1px solid var(--corCinzaEscuro);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.formulario-de-compra .input-descricao-produto-page:checked{
    background-color: var(--corSecundaria);
}

.formulario-de-compra label {
    font-size: 0.7em;
}

.formulario-de-compra .btn-comprar{
    border: none;
    background-color: var(--corPrimaria);    
    border-radius: 0.8rem;
    margin-top: 1rem;
    padding: 0.5rem;
    height:3rem;
    width: 8.5rem;   
    font-size: 1.5em;
    font-weight: bold;
    color: var(--corBranca);
    display: flex;
    justify-content: center;
    align-items: center;
}