.informacoes-produtos-selecionados{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.imagem-produto-selecionado-container{
    width: 28rem;
}

.imagem-produto-selecionado{
    object-fit: cover;
    width: 100%;
}

.descricao-produto-selecionado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}