.colecoesContainer{
    display: flex;
    width: 100%;
    gap: 3%;
    margin-top: 1%;
}

@media screen and (max-width: 500px) {
 .colecoesContainer{
    flex-direction: column;
 }
 .colecoesContainer img{
    margin-top: 7%;
 }
}

@media screen and (min-width:1350px){
    .colecoesContainer{
        justify-content: center;
    }
}