.sessao{
    font-family: var(--fontePadrao);
}
.recuado{
    padding: 2rem;
}
.tarja{
    display: flex;
}
.caixaEsquerda{
    display: flex;
    justify-content:start;
    flex-wrap: wrap;

}
.imageCaixa{
    object-fit: cover;
    width: 15rem;
}
.imagemSemelhante {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}
.caixaDireita{
    font-family: --var(--fontePadrao);
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}