@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.colecoes-container {
  width: 100vw;
  padding: 0 140px;
  font-family: 'Space Mono', sans-serif;
  overflow: hidden;
}

.title {
  margin: auto;
  text-align: left;
  color: var(--corPreto);
  opacity: 1;
  font-size: 30px;
}

.imagensColecoes{
  display: grid;
  grid-template-columns: repeat(3, minmax(32%, 1fr));
  grid-template-rows: repeat(1, auto);
  gap:16px;
  margin-bottom: 20px;
}


.imgCol {
  width: 100%;
  max-width: 380px;
  height: auto;
  overflow: hidden;
  background: transparent; 
}

.imagensColecoes h2 {
  margin: auto;
  text-align: left;
  font-size: 25px;
  color: var(--corPreto);
  letter-spacing: 0px;
}

.imagensColecoes p {
  margin: auto;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  color: var(--corPreto);

  letter-spacing: 0px;
}


.imagens {
  border-top: 3px solid var(--corPrimaria);
  margin-top: 79px;
  padding-top: 79px;
  display: grid;
  grid-template-columns: repeat(3, minmax(32%, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  
  text-align: center;
  justify-items: stretch;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
 .container {
  padding: 0 40px;
 }

 .imgCol img {
  width: 100%;
 }
 .imagensColecoes{
  gap: 9px;
 }

 .title {
  font-size: 18px;
 }

 .imagensColecoes h2 {
  font-size: 14px;
 }

 .imagensColecoes p {
  font-size:12px;
 }

 .imagens {
  grid-template-columns: repeat(3, minmax(32%, 1fr));
  margin-top: 45px;
  padding-top: 45px;
 }
}

@media screen and (max-width: 375px){
  .imagensColecoes, .imagens {
    grid-template-columns: repeat(1, minmax(32%, 1fr));
  }

  .title {
    font-size: 20px;
  }

  .imagensColecoes h2 {
    font-size: 16px;
  }

  .imagensColecoes p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .imagens {
    margin-top: 35px;
    
   }
}