
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.login-container {
  width: 50%;
  height: 50%;
  background: var(--corPrimaria);

}

.close-button a{
  display: flex;
  font-size: 44px;
  color:  var(--corPreto);
  flex-direction: row-reverse;
  padding: 10px;
}

.login-container h1 {
  color: var(--corBranca);
  display: flex;
  margin-left: 57px;
  font-size: 32px;
}

.i-email , .i-password {
  display: flex;
  padding: 0 32px;
  margin-bottom: -18px;
  
}

.i-email input, .i-password input {
  border: 1px solid var(--corCinzaEscuro);
  padding: 25px;
  outline: none;
  font-size: 25px;
  
}

.i-email input::-webkit-input-placeholder,
.i-password input::-webkit-input-placeholder{
  color: var(--corPreto);
}

.remember-me {
  display: flex;
  align-items: center;
  margin-left: 107px;
  margin-top: 37px;
  margin-bottom: 43px;
}

.remember-me input{
  margin: 0 5px 0 0;
  padding-right: 5px;
  display: flex;
  width: 21px;
  height: 21px;
}

.remember-me label {
color: var(--corPreto);
font-size: 20px;
}

.login-container button {
  background: var(--corBranca);
  width: 205px;
  height: 65px;
  border-radius: 28px;
  font-size: 30px;
  color: var(--corSecundaria);
  border: none;
  margin-bottom: 45px;
}

.forgot {
  display: flex;
  gap: 5px;
  justify-content: center;

}

.forgot-password a{
  text-decoration: none;
  color: var(--corPreto);
  font-size: 20px;
}

.forgot-password-link a {
  color: var(--corTeciaria);
  font-size: 20px;
}















