.colecao-selecionada-container{
    display: flex;
    margin: 2rem 0;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.imagem-colecao-selecionada-container{
    width: 15rem;
}

.imagem-colecao-selecionada{
    width: 100%;
    object-fit: cover;
}

.descricao-colecao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.descricao-colecao .paragrafo-colecao-selecionada{
    text-align: justify;
}