*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --corPrimaria: #4761B4;
    --corSecundaria: #E5401B;
    --corTerciario: #1473E6;
    --corBranco: #fff;
    --corPreto:#000;
  
    --corRoxoEscuro: #414278;
    --corRoxo: #8140A6;
    --corAmarelo: #EAC05A;
    --corCinza: #C8DDDA;  
    --corCinzaEscuro: #707070;
    
    --fontePadrao: 'Space Mono', monospace;
}