* {
  box-sizing: border-box;
}

body{
  margin: 0;
  display:flex;
}

.nav{
  background-color: rgb(109, 109, 247);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
