* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root {

    /* Colors: */
    ---414278: #414278;
    ---8140a6: #8140A6;
    ---eac05a: #EAC05A;
    ---c8ddda: #C8DDDA;
    ---4761b4: #4761B4;
    --unnamed-color-70707000: #70707000;
    --unnamed-color-e5401b: #E5401B;
}

.Header {
    background: #4761b4 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border: 1px solid #707070;
    opacity: 1;
    top: 0px;
    left: -1px;
    width: 1920px;
    height: 100px;
}

.ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px;
    margin: 25px;
}

.menu {
    color: #ffffff;
    top: 29px;
    left: 139px;
    width:93px;
    height: 51px;
    opacity: 1;
}

.name {
    color:#ffffff;
    font: normal normal normal 46px/69px Space Mono;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left;
    top: 21px;
    left: 259px;
    width: 270px;
    height: 51px;
    padding-left: 13px;
}

#login {
    top: 31px;
    left: 1534px;
    width: 92px;
    height: 45px;
    text-align: left;
    font: normal normal normal 30px/45px Space Mono;
    letter-spacing: 0px;
    color:#cccccc;
    opacity: 1;
    padding-left: 20px;
    margin: 40px;
}

#perfil {
    background: #ffffff 0% 0% no-repeat padding-box;
    color: #cccccc;
    opacity: 1;
    top:14px;
    left: 1683px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    padding: 10px 10px;
}

input {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    border-radius: 35px;
    opacity: 1;
    top: 172px;
    left: 278px;
    width: 1364px;
    height: 70px;
}