* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root {

    /* Colors: */
    color: #414278;
    color: #8140A6;
    color: #EAC05A;
    color: #C8DDDA;
    color: #4761B4;
    color: #70707000;
    color: #E5401B;
}

.container-fluid {
    background: #4761b4 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border: 1px solid #707070;
    opacity: 1;
    top: 0px;
    left: -1px;
    width: 100%;
    height: 80px;
}

.classeMostrarMenu {
    display:block;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
}

.menu-list {
    
    margin-left: 150px;
    width: 30px;
    height: 56px;
    opacity: 1;

}

.lista {
    width: 60px;
    height: 60px;
}

.name {
    color: #ffffff;
    top: 21px;
    left: 259px;
    width: 270px;
    height: 40px;

}

#style-name {
    color: #ffffff;
    font-family: 'Space Mono' monospace;
    font: normal normal normal 46px/69px Space Mono;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left;
    margin-top: auto;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.login {
    top: 31px;
    width: 92px;
    height: 45px;
    text-align: left;
    font: normal normal normal 30px/45px Space Mono;
    letter-spacing: 0px;
    color: #cccccc;
    opacity: 1;
    margin-right: 20px;
    margin-left: 550px;
    font-size: 25px;
    text-decoration: none;

}

.perfil {
    background: #ffffff 0% 0% no-repeat padding-box;
    color: #cccccc;
    opacity: 1;
    top: 14px;
    left: 1683px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px 10px;
    margin: 15px 40px;
    margin-left: 10px;
}

.pessoa {
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.busca {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: absolute;
    margin-top: 50px;
    
}

.lupa {
    width: 30px;
    height: 30px;
    position: absolute;
    right: calc(100% - 465px); 
    transform: translateY(170%);
}

.style-busca {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    border-radius: 35px;
    opacity: 1;
    position: sticky;
    top: 172px;
    left: 278px;
    width: 1080px;
    height: 54px;
    padding-left: 50px;
    text-align: left;
    font-size: 25px;
    margin: 20px;
    margin-top: 40px;
}

.hashtags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    flex-wrap: wrap;
    gap:2%;
}

.text-1 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;

}

.text-2 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;

}

.text-3 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;

}

.text-4 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;

}

.text-5 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;
}

.text-6 {
    font-family: "Space Mono", monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;

}

.text-7 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    font-size: 22px;

}

@media screen and (max-width: 1280px) {
     
    .container-fluid {
        width: 100%;
    }
    .navbar {
        left: 10px;
    }

    .menu-list {
        margin-left: 40px;
    }

    .navbar-nav {
       margin-right: 120px;
    }

    .login {
        margin-left: 400px;
    }
    
    .lupa {
        margin-left: 0px;
        position: absolute;
        right: calc(100% - 235px); 
        transform: translateY(170%);
    }

    .busca {
        margin-left: 20px;
        padding-left: 20px;
    }

    .style-busca {
      left: 5px;
      width: 900px;
    }

    .hashtags {
      
    }

    .text-1 {
        margin-left: 360px;
        font-size: 22px;
    }

    .text-2 {
        font-size: 22px;
        left: 10px;
        margin-left: 25px;
    }

    .text-3 {
        font-size: 22px;
        margin-left: 25px;
    }
    .text-4 {
        font-size: 22px;
        margin-left: 25px;
    }

    .text-5 {
        font-size: 22px;
        margin-left: 25px;
    }

    .text-6 {
        font-size: 22px;
        margin-left: 25px;
    }

    .text-7 {
        font-size: 22px;
        margin-left: 25px;
    }   
}


@media screen and (max-width: 1024px) {
    
        .navbar {
            left: 5px;  
        }

        .name {
            width: 270px;
            height: 50px;
            margin-left: -20px;
        }

        .style-name {
            margin-top: 5px;
        }

        .lista {
            margin-top: 1px;   
    
        }

        .login {
            margin-left: 200px;
        }
        .perfil {
            margin-left: 1px;
        }

        .busca {
             margin-left: 20px;
            padding-left: 20px;
        }
        
        .style-busca {
            width: 700px;
            left: 2px;
        
        }

        .lupa {
            margin-left: 0px;
            position: absolute;
            right: calc(100% - 205px); 
            transform: translateY(170%);
        }

        .text-1 {
            margin-left: 100px;
            font-size: 16px;
        }
    
        .text-2 {
            font-size: 16px;
        }

        .text-3 {
            font-size: 16px;
        }

        .text-4 {
            font-size: 16px;
        }

        .text-5 {
            font-size: 16px;
        }

        .text-6 {
            font-size: 16px;
        }

        .text-7 {
            font-size: 16px;
        }   

        
       

        
}