.banner {
    display: Flex;
    gap: 2%;
    height: 500px;
}

.texto {
    display: flex;
    flex-direction: column;
    background: #4761b4 0% 0% no-repeat padding-box;
    color: #ffffff;
    width: 40%;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 4%;
}

.texto h1{
    width: 100%;
}

.BannerCarousel{
    width: fit-content;
}
.BannerCarousel img{
    height: 500px;
    width: 100%;
}
@media screen and (max-width:600px) {
    .banner{
        flex-direction: column;
        height: fit-content;
        gap: 5px;
    }
    .texto{
        width: 100%;
    }
}

@media screen and (min-width:1350px){
    .banner{
        justify-content: center;
    }
}

  